*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background-color: rgb(238, 238, 238);
}
.painelCentral{
    width: 40%;
    margin: 2% 0% 0% 30%;
    height: auto;
    padding: 2%;
    border-radius: 20px;
    background-color: #f5f5f5;
    font-size: 20px;
    text-align: center;
}
.painelCentral form input{
    width: 100%;
    margin: 0% 0% 2% 0%;
    padding: 2%;
    border-radius: 10px;
    border: none;
    background-color: #e2dfdf;
    font-size: 15px;
}
.icone{
    width: 8%;
    padding: 1%;
    border-radius: 50px;
    border: 2px solid;
    margin-right: 3%;
}
.iconeTitulos{
    width: 2%;
}
.iconeNav{
    width: 30%;
    margin-right: 5%;
}
.Inicio{
    background-color: #02024b;
    color: white;
    padding: 2%;
}
.Inicio span{
    color: #3636ca;
}
.Nav{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2dfdf;
    font-size: 17px;
    top: 0px;
    position: sticky;
    border-bottom: 3px solid #02024b;
}
.Nav a{
    width: 10%;
    border-radius: 10px;
    padding: 1%;
    text-decoration: none;
    font-weight: 900;
    display: flex;
    align-items: center;
    color: black;
    margin: 0% 5.5% 0% 5.5%;
}