form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #e2dfdf;
    width: 80%;
    margin: 5% 0% 5% 10%;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 7px 7px 3px gray;
}
h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid gray ;
}
#Agenda{
    width: 5%;
    margin-right: 5%
}
input,#sel{
    width: 100%;
    background-color: #02024b;
    color: white;
    margin: 1%;
    border-radius: 10px;
    border: none;
    padding: 2%;
    font-size: 20px;
}
#horarios{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: 2% 0% 5% 10%;
    background-color: #e2dfdf;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 7px 7px 3px gray;
}
#horarios i{
    padding: 2%;
    text-align: center;
    margin: 2.5%;
    border-radius: 10px;
    width: 20%;
    background-color: #02024b;
    color: white;
    font-size: 20px;
    font-weight: 900;
}
#horarios i:hover{
    background-color: #3636ca;
    transition: 1s;
}
#sair img{
    width: 50%;
}
#sair{
    display: flex;
    align-items: center;
    width: 7%;
    text-decoration: none;
    padding: 1%;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
#editar img{
    width: 50%;
}
#editar{
    display: flex;
    align-items: center;
    width: 7%;
    text-decoration: none;
    padding: 1%;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
#edt{
    width: 90%;
    margin-left: 5%;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 2%;
}
#edt img{
    width: 25%;
}
#edt form{
    width: 75%;
    display: flex;
    padding: 5%;
    height: 45vh;
    background-color: #02024b;
}
#edt form input{
    width: 48%;
    margin: 1%;
    background-color: white;
    color: #02024b;
    padding: 2%;
}
#btnEdt{
    background-color: gray;
}