body{
    background-color: #e2dfdf;
}
table{
    border-collapse: collapse;
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
    
}
th, td{
border: 1px solid black;
padding: 5px;
font-size: 20px;
}
th{
    background-color:#02024b;
    text-align: center;
    color: white;
}
td{
    text-align: center;
}
button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}